body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #2c3e50, #4a4a4a);
  font-family: "Arial", sans-serif;
  color: #fff;
  overflow: hidden;
}

.container {
  text-align: center;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 20px;
  max-width: 800px;
  width: 90%;
  overflow: hidden;
}

.bold-heading {
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.image-box,
.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  margin: 10px;
  transition: transform 0.3s, background 0.3s;
}

.text-box {
  width: 400px;
  height: 200px;
}

.text-box:hover {
  background: rgba(0, 0, 0, 0.6);
}
#facts {
  color: white;
  font-size: 20px;
}
.glow {
  font-size: 4em;
  color: #fff;
  text-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
}

/* @keyframes glow {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #04bade, 0 0 30px #04bade,
      0 0 40px #04bade, 0 0 50px #04bade, 0 0 60px #04bade, 0 0 70px #04bade;
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 20px #04bade, 0 0 30px #04bade,
      0 0 40px #04bade, 0 0 50px #04bade, 0 0 60px #04bade, 0 0 70px #04bade,
      0 0 80px #04bade;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #04bade, 0 0 30px #04bade,
      0 0 40px #04bade, 0 0 50px #04bade, 0 0 60px #04bade, 0 0 70px #04bade;
  }
} */

.glow {
  animation: glow 2s infinite alternate;
}
.image-box {
  width: 200px;
  height: 200px;
}

.rounded-image {
  border-radius: 3%;
  width: 200px;
  height: 200px;
  box-shadow: 0 8px 32px rgba(28, 28, 233, 0.6);
  filter: grayscale(100%);
  object-fit: cover;
}

.glass-button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.glass-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.glass-button:hover::after {
  opacity: 1;
}

.glass-button:hover {
  color: #000;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.4);
}

.glass-button:active {
  transform: rotateY(60deg);
}

.emojis {
  margin: 20px 0;
}

.emoji {
  transform: scale(5);
  font-size: 2em;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: none;
}

.emoji:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}
.emoji:active {
  transform: scale(2);
  animation: bloom 5s forwards;
}

.vibrate {
  animation: vibrate 0.2s infinite;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.emoji {
  animation: float 3s ease-in-out infinite;
}

.bounce {
  animation: bounce 0.3s ease;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.copyright {
  margin-top: 20px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  font-size: 1em;
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    width: 75%;
    margin-top: 10px;
  }
  .bold-heading {
    font-size: 1.8em;
    margin-top: 5px;
  }

  .content {
    flex-direction: column;
  }

  .text-box {
    width: 90%;
    margin-bottom: 3px;
  }

  .image-box {
    width: 90%;
    margin-bottom: 3px;
  }
  #button {
    margin-bottom: 3px;
  }
  .language {
    bottom-margin: 5px;
  }
  .copyright {
    margin-bottom: 20px;
  }
}
@keyframes moveAway {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(10px, 10px);
  }
}

#language {
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  background-color: #36363628;
  color: #6c6b6b;
}
h1 {
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.4);
  padding: 4px;
  font-family: sans-seri;
}
